<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 配置注解扫描器 -->
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation" 
		expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 开启spring mvc配置 -->
	<!-- 作用
		1.可以代替RequestMappingHandlerMapping和RequestMappingHandlerAdapter
		2.内置大量参数转化器
		3.也可以自定义转换器
		4.可以使用@RequestBody接收json参数，也可以使用@ResponseBody返回json参数
	 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- spring mvc 的静态资源处理方式 -->
	<mvc:default-servlet-handler/>
	
	<!-- 定制静态资源的位置和访问路径 -->
	<mvc:resources location="classpath:/static/" mapping="/s/**"></mvc:resources>
	
	<mvc:resources location="file:D:/1998a/" mapping="/pic/**"></mvc:resources>
	
	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	
		
</beans>