<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 配置注解扫描器 -->
	<context:component-scan base-package="com.etoak">
		
		<context:include-filter type="annotation" 
		expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" 
		expression="org.springframework.web.bind.annotation.RestController"/>
		
		<!-- 排除@Service @Repository -->
		<context:exclude-filter type="annotation" 
		expression="org.springframework.stereotype.Service"/>
		<context:exclude-filter type="annotation" 
		expression="org.springframework.stereotype.Repository"/>
	
	</context:component-scan>
	
	<!-- 开启spring mvc配置 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- spring mvc 的静态资源处理方式 -->
	<mvc:default-servlet-handler/>
	
	<!-- 定义图片的访问方式 -->
	<mvc:resources location="file:D:/1998a/Java" mapping="/pic/**" />
	
	<!-- 整合Thymeleaf -->
	<bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="/templates/" />
		<property name="suffix" value=".html" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="templateMode" value="HTML" />
		<!-- 在开发环境下设置成false，方便测试页面 -->
		<property name="cacheable" value="false" />
	</bean>
	<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver"></property>
	</bean>
	<bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine"></property>
		<property name="characterEncoding" value="UTF-8"></property>
	</bean>
	
	<!-- 文件上传解析器 id必须是:multipartResolver-->	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 限制文件大小2MB -->
		<property name="maxUploadSize" value="2097152"></property>
	</bean>
	
	
</beans>